<template>
  <v-container fluid id="create">
    <v-row>
      <v-col cols="4">
        <v-card class="ma-3 pa-6" outlined tile>
          <v-list subheader>
            <v-subheader class="font-weight-bold title">Customers:</v-subheader>
            <v-divider></v-divider>
            <v-list-item
              v-for="user in paginatedData"
              :key="user.id"
              @click="getCustomerById(user.id)"
            >
              <v-list-item-avatar>
                <v-img :src="user.avatar"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title v-text="user.name"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-row justify="end">
            <div class="text-center pa-2 ma-2">
              <v-pagination
                v-if="isLoaded"
                @next="nextPage"
                @previous="prevPage"
                @input="goTopage"
                v-model="page"
                :length="paginatedPageCount"
                :total-visible="4"
                circle
              ></v-pagination>
            </div>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="8">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-row align="center" justify="center">
                <v-avatar size="400" class="mb-4">
                  <router-link :to="'/customer/'+getCustomer.id+'/invoice'">
                    <v-tooltip right>
                      <template v-slot:activator="{ on }">
                        <v-btn color="grey lighten-1" v-on="on" dark absolute top right fab>
                          <v-icon>mdi-eye-plus-outline</v-icon>
                        </v-btn>
                      </template>
                      <span>Add Invoice</span>
                    </v-tooltip>
                  </router-link>
                  <v-img :src="getCustomer.avatar" alt="avatar"></v-img>
                </v-avatar>
              </v-row>

              <v-card class="mx-auto" max-width="450" outlined tile dark color="grey darken-2">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title class="text-center">{{getCustomer.name}}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-divider></v-divider>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title class="text-center">Address: {{getCustomer.address}}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <!-- modal -->
    <v-row justify="center">
      <v-dialog v-model="dialog" persistent max-width="450px">
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-card class="pa-2">
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="editedCustomer.name"
                      label="Name"
                      :rules="nameRules"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="editedCustomer.address"
                      label="Address"
                      :rules="addressRules"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="editedCustomer.avatar"
                      label="Avator"
                      :rules="avatarRules"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>
    </v-row>
    <!-- speed dial -->
    <v-speed-dial
      v-model="fab"
      :top="false"
      :bottom="true"
      :right="true"
      :left="false"
      :open-on-hover="false"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="blue darken-2" dark fab>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-account-circle</v-icon>
        </v-btn>
      </template>
      <v-tooltip left>
        <template v-slot:activator="{ on }">
          <v-btn @click="editItem(getCustomer)" v-on="on" fab dark small color="green">
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
        </template>
        <span>Edit Customer</span>
      </v-tooltip>
      <v-tooltip left>
        <template v-slot:activator="{ on }">
          <v-btn @click="dialog = true" v-on="on" fab dark small color="indigo">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </template>
        <span>New Customer</span>
      </v-tooltip>
      <v-tooltip left>
        <template v-slot:activator="{ on }">
          <v-btn fab dark small color="red" @click="deleteCustomer(getCustomer.id)" v-on="on">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </template>
        <span>Delete Customer</span>
      </v-tooltip>
    </v-speed-dial>

    <v-snackbar bottom right v-model="snackbar" :timeout="timeout">{{ text }}</v-snackbar>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      fab: false,
      dialog: false,
      page: 1,
      pageCount: 0,
      itemsPerPage: 8,
      editedIndex: -1,
      snackbar: false,
      text: "",
      timeout: 2000,
      valid: true,
      nameRules: [v => !!v || "Name is required"],
      addressRules: [v => !!v || "Address is required"],
      avatarRules: [v => !!v || "Avatar is required"],
      editedCustomer: {
        name: "",
        address: "",
        avatar: ""
      },
      defaultCustomer: {
        name: "",
        address: "",
        avatar: ""
      }
    };
  },

  computed: {
    ...mapGetters(["allCustomers", "getCustomer", "isLoaded"]),
    formTitle() {
      return this.editedIndex === -1 ? "New Customer" : "Edit Customer";
    },
    paginatedData() {
      const start = this.pageCount * this.itemsPerPage;
      const end = start + this.itemsPerPage;
      if (this.allCustomers.items && this.allCustomers.items.length)
        return this.allCustomers.items.slice(start, end);
    },
    paginatedPageCount() {
      let l = this.allCustomers.items.length;
      let s = this.itemsPerPage;
      return Math.ceil(l / s);
    }
  },

  methods: {
    ...mapActions([
      "getAllCustomer",
      "getCustomerById",
      "deleteCustomer",
      "newCustomer",
      "editCustomer"
    ]),
    editItem(item) {
      this.editedIndex = this.allCustomers.items.findIndex(
        item => item.id === item.id
      );
      this.editedCustomer = Object.assign({}, item);
      this.dialog = true;
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        // clear modal on close
        this.$refs.form.reset();
        this.editedCustomer = Object.assign({}, this.defaultCustomer);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.$refs.form.validate()) {
        if (this.editedIndex > -1) {
          // edited customer
          this.editCustomer(this.editedCustomer);
          this.snackbar = true;
          this.text = "Customer Successfully Edited";
        } else {
          // new customer
          this.newCustomer(this.editedCustomer);
          this.snackbar = true;
          this.text = "Customer Successfully Saved";
        }
        this.close();
      }
    },

    nextPage() {
      this.pageCount++;
    },
    prevPage() {
      this.pageCount--;
    },
    goTopage(payload) {
      // this.pageCount = payload - 1;
    }
  },

  created() {
    this.getAllCustomer();
  }
};
</script>

<style scoped>
#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}
</style>